/* App header */

.app-header {
  padding: 10px;
  background-color: #ffffff !important;
  color: #1e1e1e !important;
  border-bottom: 2px solid #1e1e1e;
  margin-bottom: 2em;
  box-shadow: none !important;

  .header-logo {
    display: flex;
    min-height: inherit;
    align-items: center;

    .header-title {
      font-size: xxx-large;
      font-weight: 600;
      font-family: cursive;
    }
  }
  .header-content {
    display: flex;
    align-items: center;
    .welcome-title {
      font-family: cursive;
      font-size: large;
    }

    .header-button {
      margin: 0 20px;
      cursor: pointer;
      font-size: 15px;
      font-weight: 600;
      font-family: cursive;
      background: #ffffff;
      box-shadow: 5px 5px #000;
      border: solid 1px #000;
      padding: 5px;
    }

    .form {
      display: flex;
      justify-items: center;

      .input-container {
        font-size: large;
        margin: 25px 10px;

        input[type="text"],
        input[type="password"] {
          max-width: 120px;
          font-family: cursive;
          height: 30px;
          padding-left: 10px;
          margin-right: 10px;
          border: 2px solid rgba(0, 0, 0, 1);
        }

        .render-error {
          position: absolute;
          font-family: cursive;
          font-size: x-small;
          color: red;
        }
      }
      .button-container {
        display: flex;
        align-items: center;

        button[type="submit"] {
          margin-left: 10px;
          cursor: pointer;
          font-size: 15px;
          font-weight: 600;
          font-family: cursive;
          background: #ffffff;
          box-shadow: 5px 5px #000;
          border: solid 1px #000;
        }

        button[type="submit"]:hover {
          background: #6cf0c2;
        }
      }
    }
  }
}
