@import "../../../styles/variable";

#root {
  height: 100%;
}

// * {
//   font-family: "Montserrat", sans-serif;
// }

body > iframe {
  pointer-events: none;
}

body > iframe {
  pointer-events: none;
}

.main {
  min-height: 100vh;
  .header {
    display: block;
    padding: 0 15em;
    background-color: #ffffff !important;
    box-shadow: none !important;
    position: relative;
  }
}
