@import "../../../styles/variable";

#root {
  height: 100%;
}

// * {
//   font-family: "Montserrat", sans-serif;
// }

body > iframe {
  pointer-events: none;
}

body > iframe {
  pointer-events: none;
}

.main {
  display: block;
}
